/* CustomNavbar.css */

/* Dark mode styles */
.navbar-dark-mode {
    background-color: black; /* Background color for dark mode */
}

.navbar-dark-mode .navbar-brand,
.navbar-dark-mode .nav-link {
    color: white; /* Default color for Navbar.Brand and Nav.Link in dark mode */
    transition: color 0.3s, text-shadow 0.3s; /* Smooth transition for color and text shadow */
}

.navbar-dark-mode .navbar-brand:hover,
.navbar-dark-mode .nav-link:hover {
    color: lightgray; /* Color on hover */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Light text shadow for highlighting */
}

/* Light mode styles */
.navbar-light-mode {
    background-color: gray; /* Background color for light mode */
}

.navbar-light-mode .navbar-brand,
.navbar-light-mode .nav-link {
    color: black; /* Default color for Navbar.Brand and Nav.Link in light mode */
    transition: color 0.3s, text-shadow 0.3s; /* Smooth transition for color and text shadow */
}

.navbar-light-mode .navbar-brand:hover,
.navbar-light-mode .nav-link:hover {
    color: darkgray; /* Color on hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dark text shadow for highlighting */
}
