/* CustomNavbar.css */

.navbar-custom {
    background-color: var(--navbar-background);
}

.navbar-light-mode {
    --navbar-background: #30c5ab; /* Light background for light mode */
}

.navbar-dark-mode {
    --navbar-background: #072144; /* Dark background for dark mode */
}

.navbar-light-mode .navbar-brand,
.navbar-light-mode .nav-link {
    color: #333; /* Subtle text color for light mode */
}

.navbar-dark-mode .navbar-brand,
.navbar-dark-mode .nav-link {
    color: #3d97f3; /* Subtle text color for dark mode */
}

.navbar-brand {
    transition: color 0.3s ease;
}

.nav-link {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Hover effect */
.nav-link:hover {
    color: inherit; /* Use the same color as the text color */
    text-decoration: underline; /* Subtle underline on hover */
}
