.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.navbar {
  margin-bottom: 20px;
}

/* App.css */
.dashboard-header {
  text-align: left;
  margin-left: 20px; /* Adjust the value to control indentation */
  margin-bottom: 20px;
}

.status-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.status-pending {
  background-color: yellow;
}

.status-approved {
  background-color: green;
}

.status-denied {
  background-color: red;
}

/* Container for the reimbursement table and filters */
.reimbursement-container {
  margin-left: 20px;
}

/* Styling for the heading and button section */
.heading-section {
  text-align: left;
  margin-bottom: 20px;
}

/* Adding spacing between action buttons */
.action-button {
  margin-right: 10px; /* Adjust this value for more or less space */
}

/* For the last button, remove the right margin to avoid unnecessary spacing */
.action-button:last-child {
  margin-right: 0;
}
